body {
    margin: 0 auto;
    font-family: sans-serif;
    list-style: none;
}
.wrapper{
	width:100%;
	display:flex;
	flex-direction: column;
}
header {
    display: flex;
    background: linear-gradient(57deg,#00c6a7, #1e4d92);
    height: 104px;
    width: 100%;
    position: relative;
    flex-wrap: wrap;
}
.logo-image {
    flex: 0 0 100%;
    z-index: 100;
}
.logo-image img {
    margin: 22px 00 00 100px;
    z-index: 999;
    height:90px;
}
.listing {
    flex: 0 0 100%;
    background: rgba(11,53,69,0.7);
    position: fixed;
    width: 150%;
    top: 0;
    z-index: 0;
}
ul.lists {
    padding-left: 16%;
    margin-top: 14px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    width: 48%;
    justify-content: space-evenly;
}
.ser{
    list-style: none;
}
.ser  a {
    text-decoration: none;
    color: #b8d4ca;
    font-size: 24px;
    text-transform:uppercase;
}
.container{
    background-color: #333;
}
.skills{
    width:500px;
    margin: 60px auto;
    color:silver    ;
}
.skills li{
    margin: 30px 0;
}
.bar{
    background: #353b48;
    display: block;
    height: 2px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #2187e7b3;
}
.bar span{
    height: 2px;
    float: left;
    background:#2187e7;
}
.html{
    width:90%;
    animation: html 2s;
}
.css{
    width:65%;
    animation: css 2s;
}
.java{
    width:45%;
    animation: java 2s;

}
.php{
    width: 20%;
    animation: php 2s;
}
@keyframes html{
    0%{
        width: 0%;

    }
    100%{
        width: 90%;
    }
}
@keyframes css{
    0%{
        width: 0%;

    }
    100%{
        width: 65%;
    }
    }@keyframes java{
        0%{
            width: 0%;

        }
        100%{
            width: 45%;
        }
        }@keyframes php{
            0%{
                width: 0%;

            }
            100%{
                width: 20%;
            }
        }


        footer {
            background-color: #0b3545;
            width: 100%;
            display: flex;
            margin-top:10px; 
        }
        .footer1 {
            display: flex;
            width: 24%;
            margin-top: 72px;
            color: #FF9857;
            justify-content: space-around;
        }
        .space {
            width: 45%;
        }
        .footer1 h2 {
            font-weight: lighter;
            font-size: 20px;
        }
        p.verify {
            font-size: 13px;
            color: #ece7e4;
        }
        p.text1 {
            font-size: 13px;
            color: #ece7e4;
            line-height: 20px;
        }
        p.m {
            font-size: 25px;
            color: #FF9857;
            transition: 0.5s;
        }
        p.m:hover{
            transform: rotate(10deg);
            margin: 6px;
            
        }
        p.u {
            font-size: 25px;
            color: #FF9857;
            transition: 0.5s;
        }
        p.u:hover{
            transform: rotate(6deg);
            margin: 6px;
        }
        p.k {
            font-size: 25px;
            color: #FF9857;
            transition: 0.5s;
        }
        p.k:hover{
            transform: rotate(3deg);
            margin: 6px;
            
        }
        .m a{
            color:orange;
        }
        .u a{
            color:orange;
        }
        .k a{
            color:orange;
        }


        /* contact us css portion*/


        form {
            display: flex;
            flex-direction: row;
            width: 100%;
            flex-wrap: wrap;
        }
        h2.he {
            padding: 50px;
            margin: 00 00 0px 60px;
            font-size: 34px;
        }
        .fouc {
            width: 84%;
            margin: 00 auto;
            display: flex;
            flex-direction: column-reverse;
        }
        input[type="text"] {
            width: 46%;
            height: 40px;
            margin: 0px 28px 30px 00;
            border:1px solid grey;
            box-shadow: none;
            font-size: 20px;
        }
        input#num {
            width: 95%;
            height: 40px;
            margin: 0px 00 15px 0px;
            border:1px solid grey;
            box-shadow: none;
            font-size: 20px;
        }
        textarea {
            width: 95%;
            margin: 0px 28px 30px 00;
            border:1px solid grey;
            box-shadow: none;
            font-size: 20px;
        }
        input[type="submit"] {
            width: 20%;
            margin: 10px 00 25px 0px;
            border-radius: 5px;
            height: 45px;
            color: #fff;
            font-size: 20px;
            background-color: #000;
        }




        /* DOCTOR DATA PAGE CSS*/
        button{
            color:white;
            background-color: black;
            border:2px solid white;
            height: 40px;
            font-family: bold;
            font-size: 20px;
        }